# Data Types and Structures Questions

1.   What are data structures, and why are they important?


       -Data structure is a method of organising and storing data in a computer to enable efficient access, processing, and modification. They are crucial because they provide a framework for algorithms, making software faster and more understandable by reducing complexity and improving how data is managed.
      An example is using a list (a linear data structure) to store a to-do list, allowing for easy adding, removing, and ordering of tasks, whereas an array might be used to store a fixed-size collection of numbers efficiently.

2.  Explain the difference between mutable and immutable data types with       examples
    - Mutable Data Types:-

      Mutable data types are those whose values can be modified in place after they have been initialized. This means you can change, add, or remove elements or alter the contents of the object without creating a new object in memory.
        - **example:-
            my_list = [1, 2, 3]
            my_list.append(4)  
            print(my_list)**     # Output: [1, 2, 3, 4]

     - Immutable Data Types:

       Immutable data types are those whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually results in the creation of a new object with the desired changes, while the original object remains unchanged in memory.
        - **Example:-
            my_string = "hello"
            new_string = my_string + " world"  
            print(my_string)                 
            print(new_string)** # Output: hello world

3. What are the main differences between lists and tuples in Python?


    - Tuples:-
      *   Tuples are immutable objects item
      *   Tuples have fixed length,
      *   Tuples use less memory and are faster to access than Lists,
      *   Tuples syntax uses round bracket or parentheis.

    - Lists:-
      *  Lists are mutable object,
      *  Lists have a dynamic length,
      *  Lists use less memory and take more time to access than tuples,
      *  Lists syntax uses square bracket

4. Describe how dictionaries store data.
      - A dictionary is a built-in data structure that stores data in the form of key–value pairs.
     -Keys are unique and immutable (e.g., strings, numbers, tuples).
    - Values can be of any data type and can be repeated.
    - Unordered (before Python 3.7): Dictionaries did not guarantee any order of items.
    - Ordered (from Python 3.7+): Dictionaries preserve the insertion order. That means if you iterate through a dictionary, items are returned in the order they were added.
    - **Example:-**
         * ***student = {"Name":Shriram Pandey","Age":24, "Course": "Data   Analytics"}***
         * ***print("Name:", student["name"])***
         * ***print("Age:", student["age"])***
         * ***print("Course:", student["course"])**

5.  Why might you use a set instead of a list in Python?

    - You would use a set instead of a list in Python when you need to store unique items and perform fast membership checks. Unlike lists, sets automatically remove duplicates and use hashing, which makes checking if an element exists much faster. Sets also support handy mathematical operations like union, intersection, and difference, which lists don’t provide directly. However, since sets are unordered and don’t support indexing, you’d use a list if you need to maintain order or allow duplicates.

    1. Use a list when:-
      * You need ordered data.
      * Duplicates are needed.
      * Indexing is required.

    2. use a Set when:-
      * You need unique elements only.
      * Fast membership checking is important.
      * You need to perform set operations.

6. What is a string in Python, and how is it different from a list?

    - A string in Python is a sequence of characters enclosed in single quotes ('), double quotes ("), or triple quotes (''' or """). Strings are immutable, meaning once created, their contents cannot be changed—you can only create new strings.

    - A list, on the other hand, is a collection of elements (which can be numbers, strings, or even other lists) enclosed in square brackets ([]). Lists are mutable, so you can modify, add, or remove elements after creation.

7.  How do tuples ensure data integrity in Python?

    - Tuples in Python ensure data integrity because they are immutable, meaning once a tuple is created, its elements cannot be modified, added, or removed. This immutability guarantees that the data stored in a tuple remains constant and secure throughout the program, preventing accidental changes.

    - **Example:-**
      * **Num = (10, 20)**
      * **print(Num)  # (10, 20)** #modification cause an error

8. What is a hash table, and how does it relate to dictionaries in Python?

    - A hash table is a data structure that stores data in key–value pairs and uses a hash function to map each key to a specific location in memory. This allows for very fast operations like lookup, insertion, and deletion, usually in O(1) time on average.

        * Python computes the hash value of the key,
        * That hash decides where the key–value pair is stored in memory,
        * If two keys hash to the same location, Python handles it internally by placing them in another available slot.

9.  Can lists contain different data types in Python?
    - Yes, a list can contain different data types. Unlike arrays in many programming languages, Python lists are very flexible and can hold integers, floats, strings, booleans, or even other lists/objects in the same collection.
    - **example:-**
        * **my_list = [10, "Hello", 3.14, True, [1, 2, 3]]**
        * **print(my_list)**
        * **Output will be:-**
        * **[10, 'Hello', 3.14, True, [1, 2, 3]]**

10. Explain why strings are immutable in Python.

    - Strings in Python are immutable, which means you cannot change them once they are created. If you try to modify a string, Python actually makes a new string instead of changing the old one.
    - This is done to keep strings safe, reliable, and efficient — for example, so they can be used as dictionary keys and shared in memory without risk of being changed accidentally.
    
      - **Example:-**
        * **s = "Hello"**
        * **s = "hello"** #python make another string,old one will remainn same

11. What advantages do dictionaries offer over lists for certain tasks?

    - Dictionaries are better than lists when you need to find things quickly or when your data has a label → value relationship. In a list, you search by position, but in a dictionary, you search by key.

      - **Example:-List**

        * **students_list = [["Alice", 90], ["Bob", 85], ["Charlie", 92]]**
        * **for student in students_list:**
        * **if student[0] == "Bob":**
        * **print("Bob's marks (list):", student[1])**

      - **Example:-dictionary**
      
        * **students_dict = {"Alice": 90, "Bob": 85, "Charlie": 92}**
        * **print("Bob's marks (dictionary):", students_dict["Bob"])**

12. Describe a scenario where using a tuple would be preferable over a list?

    - You should use a tuple instead of a list when you have data that shouldn’t change.
    - For example, storing the address of a city (40, -74) is better in a tuple because those values are fixed. Tuples keep the data safe from being modified by mistake, while lists can be changed.

    - **example:-**
          * **location = (40.7128, -74.0060)**  # New York City coordinates

          * **print("Latitude:", location[0])**
          * **print("Longitude:", location[1])**

13. How do sets handle duplicate values in Python?

    - In Python, sets automatically remove duplicate values. When you add elements to a set, only unique items are stored—any duplicates are ignored. This makes sets useful for keeping collections of distinct items.

    - **Example:-**
          * **numbers = {1, 2, 2, 3, 3, 3, 4}**

          * **print(numbers)**  # Output: {1, 2, 3, 4}

14.  How does the “in” keyword work differently for lists and dictionaries?

  - The in keyword works differently for lists and dictionaries
      * List: Checks if a value exists in the list. It looks through each item one by one, so it can be slower if the list is big.
      * Dictionary: Checks if a key exists in the dictionary. It’s very fast because dictionaries use hashing.
      
      - **Example:-**
          * **my_list = [10, 20, 30]**
          * **print(20 in my_list)**
          *  **my_dict = {"a": 1, "b": 2}**
          * **print("b" in my_dict)**

15. Can you modify the elements of a tuple? Explain why or why not?

    - You cannot modify a tuple in Python because tuples are immutable, meaning their elements are fixed once the tuple is created. This makes tuples useful for storing data that should not change, like constants, and allows them to be used as dictionary keys or in sets, which require immutability.

    - **Example:-**
        * **s = (10,20,30)**
        * **s(0)=15 #it will cause an error**
        * **print(s)**      #output:-(10,20,30)

16. What is a nested dictionary, and give an example of its use case?

    - A nested dictionary in Python is a dictionary that contains another dictionary (or dictionaries) as its values. This allows you to store more complex, hierarchical data in a structured way.

    - **Example:-**
        * tudents ={"1001": {"name": "Alice", "age": 20, "major": "CS"},
                  "1002": {"name": "Bob", "age": 22, "major": "Math"},
                 "1003": {"name": "Charlie", "age": 21, "major": "Physics"}}
       * print(students["1002"]["name"])  # Output:- Bob
      * print(students["1003"]["major"]) # Output:- Physics

17. Describe the time complexity of accessing elements in a dictionary.

    - Accessing an element in a Python dictionary is very fast because it uses a hash table. This means you can get a value by its key in constant time (O(1)), no matter how big the dictionary is.

    - Example:-
        * my_dict = {"a": 1, "b": 2, "c": 3}
        * print(my_dict["b"])  # Output: 2

18.  In what situations are lists preferred over dictionaries?

      - Lists are preferred over dictionaries when you need to store an ordered collection of items or when the position of elements matters. They are ideal for situations where:
        * Order matters :- You want to maintain the sequence of elements.
        * Duplicates are allowed :- Lists can store repeated values.
        * Index-based access :- You want to access items by their position.

    - **Example:-**
            * fruits = ["apple", "banana", "cherry", "banana"]
            * print(fruits[1])  # Output:- Access by index -> banana

19. Why are dictionaries considered unordered, and how does that affect data retrieval

    - Dictionaries in Python are considered unordered (historically) because the items are stored by key in a hash table, not by the order in which they were added. This means that in versions before Python 3.7, iterating over a dictionary could return items in any order

    - **example:-**
        * student = {"name": "Alice", "age": 21, "major": "CS"}
        * print(student["age"])  # 21
        * for key, value in student.items(): # Iteration order
        *  print(key, value)

20. Explain the difference between a list and a dictionary in terms of data retrieval.

    - **List:-**

          * Data is retrieved by position (index).
          * To find a specific value, Python may need to search through the list.
          * **Example:-**
                 * fruits = ["apple", "banana", "cherry"]
                * print(fruits[1])  # Output: banana

       - **Dictionary:-**      

          * Data is retrieved by key.
          * Lookup is very fast (O(1)) because dictionaries use a hash table.
          * **example:-**
                * student = {"name": "Alice", "age": 21}
                * print(student["age"])  # Output: 21

# Practical Questions

In [1]:
1. #Write a code to create a string with your name and print it.
name = "Shriram Pandey"
print(name)

Shriram Pandey

In [4]:
2. #Write a code to find the length of the string "Hello World".
string = "Hello World"
length = (len(string))
print("length of thr string is",length)

length of thr string is 11

In [5]:
3. #Write a code to slice the first 3 characters from the string "Python Programming".
string = "Data Analyst"
sliced_string = string[:3]
print(sliced_string)

Dat

In [6]:
4. #Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [7]:
5. #Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [8]:
6. #Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [12]:
7. #Write a code to append the number 10 to the list [1, 2, 3, 4].
num = [1, 2, 3, 4]
num.append(5)
print(num)

[1, 2, 3, 4, 5]

In [13]:
8. #Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
num = [1, 2, 3, 4]
num.remove(4)
print(num)

[1, 2, 3]

In [15]:
9. #Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
letters[1]

'b'

In [16]:
10. #Write a code to reverse the list [10, 20, 30, 40, 50].
num = [10,20,30,40,50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

In [27]:
11. #Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple = (100,200,300)   #its showing error in google Colab only not in VS Code and Jupiter Notebook.
print(tuple)

TypeError: 'tuple' object is not callable

In [30]:
12. #Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
colors[2] #here we can access by [2] and [-2] as well.

'blue'

In [34]:
13. #Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num = (10, 20, 5, 15)
minimum = min(num)
print("The minimum number is:", minimum)
        ##its showing error in google Colab only not in VS Code and Jupiter Notebook

TypeError: 'tuple' object is not callable

In [38]:
14. #Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
Animals = ('dog', 'cat', 'rabbit')
Animals.index("cat")

1

In [43]:
15. #Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Yes, 'kiwi' is in the tuple.")
else:
    print("No, 'kiwi' is not in the tuple.")

    ##its showing error in google Colab only not in VS Code and Jupiter Notebook.

TypeError: 'tuple' object is not callable

In [51]:
16. #Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {"a", "b", "c"}
print(my_set)

    ##its showing error in google Colab only not in VS Code and Jupiter Notebook

TypeError: 'tuple' object is not callable

In [52]:
17. #Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

      ##its showing error in google Colab only not in VS Code and Jupiter Notebook

TypeError: 'tuple' object is not callable

In [53]:
18. #Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

      ##its showing error in google Colab only not in VS Code and Jupiter Notebook

TypeError: 'tuple' object is not callable

In [54]:
19. #Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

      ##its showing error in google Colab only not in VS Code and Jupiter Notebook

TypeError: 'tuple' object is not callable

In [55]:
20. #Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of the sets:", intersection_set)

    ##its showing error in google Colab only not in VS Code and Jupiter Notebook

TypeError: 'tuple' object is not callable

In [56]:
21. #Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Shriram Pandey","age": 24,"city": "raipur"}
print(person)

       ##its showing error in google Colab only not in VS Code and Jupiter Notebook

TypeError: 'tuple' object is not callable

In [57]:
22. # Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

       ##its showing error in google Colab only not in VS Code and Jupiter Notebook

TypeError: 'tuple' object is not callable

In [58]:
23. #Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person["name"])

       ##its showing error in google Colab only not in VS Code and Jupiter Notebook

TypeError: 'tuple' object is not callable

In [59]:
24. # Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

     ##its showing error in google Colab only not in VS Code and Jupiter Notebook.

TypeError: 'tuple' object is not callable

In [60]:
25. #Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

    ##its showing error in google Colab only not in VS Code and Jupiter Notebook.

TypeError: 'tuple' object is not callable

In [8]:
26. #Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Alice', 'age': 25}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 25}

In [10]:
27.#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [3, 9, 27, 47, 83]

In [12]:
28. #Write a code to create a list with strings and print the element at the third index.
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
third_index_element = fruits[3]
print("Element at the third index is:", third_index_element)

Element at the third index is: date

In [15]:
29. #Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [16]:
30. #Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "banana"]
string_set = set(string_list)
print("Set of strings:", string_set)

Set of strings: {'apple', 'cherry', 'banana'}